.portfolio{
    .list-group{
        .list-group-item{
            cursor: pointer;
            @include responsive(mobile){
                &:last-of-type{
                    border-left-width: 1px !important;
                }
            }
        }
    }
    .filtered-items{
        a{
            &.hidden{
                display: none;
            }
            &.active{
                display: block;
                animation: shown 0.7s ease-in-out;
            }
        }
        img{
            height: 250px;
            width: 100%
        }
    }
}

@keyframes shown {
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1);
    }
}